<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practico 7/9</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
 <main >
  <div class="container">
    <section class="cards-list">
      <article class="product-card">
        <div class="product-card__img">
          <img src="/images/bg.png" alt="" srcset="">
        
        </div>
        <div class="product-card__info">
          <h2 class = 'product-card__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor volutpat phasellus purus rutrum. Ac lectus sit lectus orci. Nulla sed id tristique sed tincidunt tortor lorem id. Velit fames erat gravida sit auctor non massa aliquet rhoncus aliquam ornare.</h2>
          <p class="product-card__lenguaje">HTML, JAVASCRIPT, NODEJS</p>
        </div>
      </article>

      <article class="product-card">
        <div class="product-card__img">
          <img src="/images/bgPC.png" alt="" srcset="">
        </div>
        <div class="product-card__info">
          <h2 class = 'product-card__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor volutpat phasellus purus rutrum. Ac lectus sit lectus orci. Nulla sed id tristique sed tincidunt tortor lorem id. Velit fames erat gravida sit auctor non massa aliquet rhoncus aliquam ornare.</h2>
          <p class="product-card__lenguaje" >HTML, JAVASCRIPT, NODEJS</p>
        </div>
      </article>

      <article class="product-card">
        <div class="product-card__img">
          <img src="/images/BgTecleo.png" alt="" srcset="">
        </div>
        <div class="product-card__info">
          <h2 class = 'product-card__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor volutpat phasellus purus rutrum. Ac lectus sit lectus orci. Nulla sed id tristique sed tincidunt tortor lorem id. Velit fames erat gravida sit auctor non massa aliquet rhoncus aliquam ornare.</h2>
          <p class="product-card__lenguaje">HTML, JAVASCRIPT, NODEJS</p>
        </div>
      </article>
    </section>
  </div>
  </main>
  
</body>
</html>